*{
	padding: 0;
	margin: 0;
	font-size: 14px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.headine{
	height: 50px;
	/* border: 1px solid red; */
	width: 90%;
	margin: 0 auto;
}
.headine_one{
	height: 30px;
	line-height: 50px;
	font-size: 36px;
	color: #00A0F5;
}
.catalog{
	height: 40px;
	border: 1px solid red;
	/* width: 90%; */
	/* margin: 0 auto; */
	background-color: #00A0F5;
}
.catalog_left{
	height: 40px;
}
.catalog_left ul li{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-right: 6px;
	color: #ffffff;
}
.catalog_left ul li a{
	color: #FFFFFF;
}
.content{
	width: 90%;
	margin: 0 auto;
}
.content_one {
	height: 30px;
	width: 100%;
}
.content_one ul li{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 16px;
	color: #00A0F5;
	
}
.content_two{
	height: 30px;
	width: 100%;
}
.content_two ul li{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 16px;
	
	
}
.content_four{
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content_five{
	border: 1px solid #000000;
	background-color: #EEF0F2;
}
/* 第一大部分 */
/* 第三小部分 */
.First_three_headline{
	height: 30px;
	background-color: #FFFFFF;
	border-top: 1px solid #000000;
	line-height: 30px;
	padding-left: 4px;
	line-height: 30px;
}
/* 图标 */
.First_three_headline_icon{
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #00A0F5;
	text-align: center;
	line-height:17px;
	cursor: pointer;
}
/* 弹出框 */

.popup{
	display: none;
	position: fixed; 
	top: 23%;
	left: 17%;
	height: 280px;
	width: 860px;
	
	z-index: 10;
	background-color: #FFFFFF;
}
/* 弹出框头部 */
.popup_headline{
	display: flex;
	justify-content: space-between;
	height: 20%;
	width: 98%;
	margin: auto;
	
}
/* 弹出框左边 */
.popup_headline_name{
	padding-top: 9px;
	
}
.popup_headline_name span{
	font-size: 26px;
	font-weight: 700;
	display: inline-block;
}
/* 弹出框关闭 */
.popup_headline_shut{
	padding-top: 20px;
	padding-right: 24px;
	opacity: 0.7;
	cursor: pointer;
}
/* 2弹出框表格 */
.popup_table{
	height: 60%;
	width: 98%;
	margin: auto;
	
}
/* th宽度 */
.popup_table_width1{
	width: 6%;
	text-align: center;
}
.popup_table_width2{
	margin: 10px 4px;
	width: 60px;
}
/* 弹出框按钮 */
.popup_button{
	display: flex;
	justify-content: space-between;
	/* border: 1px solid red; */
	height: 20%;
}
/* 3弹出框左边 */
.popup_button_add{
	height: 30px;
	width: 30px;
	line-height: 27px;
	font-size: 24px;
	border-radius: 50%;
	border: 2px solid #00A0F5;
	text-align: center;
	margin:9px 10px ;
}
/* 3弹出框右边 */
.popup_button_btn{
	display: flex;
	justify-content: space-between;
	
}
/* 取消 */
.popup_button_btn_cancel, .popup_button_btn_save{
	background-color: #77869A;
	height: 32px;
	width: 64px;
	text-align: center;
	line-height: 32px;
	margin: 10px 10px;
	color: #FFFFFF;
}
.save{
	background-color: #00A0F5;
	
}
/* 第三大部分 */
/* 第三大部分标题 */
.Third_headline{
	background-color: #EEF0F2;
	width: 98%;
	height: 42px;
	line-height: 42px;
	margin: 6px auto 0px;
	border: 1px solid #000000;
}
.Third_headline_icon{
	margin-left: 5px;
	border: 2px solid #00A0F5;
	color: #00A0F5;
	cursor: pointer;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
}
/* 第三大部分内容 */
.Third_content{
	border: 1px solid #000000;
	margin: auto;
	border-top:0px;
	width: 98%;
	padding-top: 19px;
	padding-bottom: 19px;
}
.Third_content_table{
	
	width: 94%;
	margin:auto;
}
.Third_content_tr{
	height: 28px;
	
}
.Third_content_th0{
	width: 30%;
}
.Third_content_th{
	width: 24%;
}
.tr1{
	background-color: #E3E7EC;
}
.tr2{
	background-color: #F8F8F8;
}
.Center{
	text-align: center;
}
.offset{
	padding-left: 6px;
}